
body {

--color1: rgb(129, 127, 138);
--color2: rgb(18, 17, 17);
--color3: rgb(139, 135, 162);
--color5: rgb(111, 102, 133);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(36, 36, 55);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    padding: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
    font-size: 40px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    text-shadow: 5px 5px 10px rgb(77, 77, 82);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    box-shadow: var(--shadow);
    height: 100px;
}

/* .johnoliver {
    height: 300px;
} */